/* From uiverse.io by @JoseIsra */
 .bankcard {
     width: 25%;
     display: inline-block;
     backface-visibility: hidden;
    position: relative;
    margin-left: 0rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid;
    padding: 1%;
    box-shadow: 5px 10px #888888;
    transform-style: preserve-3d;
    transform: perspective (1000px) rotateY(var(--rotate-y,0))
translateY(var(--translate-y,0));
   }

   .content {
     text-align: center;
     backface-visibility: hidden;
     position: relative;
     height: 12rem;
     transition: all 2.25s;
     background-color: rgb(255, 255, 255);
     padding: 5em;
     transform-style: preserve-3d;
     z-index: 99999;
   }

   .bankcard:hover .content {
     transform: rotateY(0.5turn);
   }

   .front,
   .back {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     padding: 2em;
     backface-visibility: hidden;
   }

   .title {
     transform: translateZ(5rem);
     font-size: 2rem;
   }

   .subtitle {
     transform: translateZ(2rem);
   }

   .back {
     transform: rotateY(0.5turn);
     background-color: #009bff;
   }

   .description {
    width: 100%;
     transform: translateZ(3rem);
   }
