.dropdown-menu {
  background: rgb(255, 248, 248);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 180px;
  margin-left: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border: 1px solid black;
  border-radius: 2px;
  top: 80px;
  list-style: none;
  text-align: start;
  z-index: 99999;
}

.dropdown-menu li {
  background: #FFE4D8;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #ffffff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 70%;
  width: 80%;
  text-decoration: none;
  color: rgb(59, 49, 49);
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
