/* From uiverse.io by @JoseIsra */
.newCard {
    cursor: pointer;
    width: 35%;
    margin-top: 2rem;
    margin-left: 5rem;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: rgb(127, 204, 240);
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .newCard:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #009bff;
  }
  
  .description {
    transform: translateZ(3rem);
  }
  
  /* From uiverse.io by @JoseIsra */
  .newCard2 {
    cursor: pointer;
    width: 40%;
    margin-top: -10rem;
    margin-left: 50%;

  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: rgb(127, 204, 240);
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .newCard2:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #009bff;
  }
  
  .description {
    transform: translateZ(3rem);
  }

  /* From uiverse.io by @JoseIsra */
  .newCard1 {
    cursor: pointer;
    width: 40%;
    margin-left: 50%;
    margin-bottom: -15rem;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: rgb(127, 204, 240);
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .newCard:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #009bff;
  }
  
  .description {
    transform: translateZ(3rem);
  }