/* From uiverse.io by @JoseIsra */
.slangcard {
  width: 3%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  z-index: 1;
}

.slangcard .content {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: rgb(127, 204, 240);
  padding: 5em;
  transform-style: preserve-3d;
   z-index: 1;
}

.slangcard:hover .content {
  transform: rotateY(0.5turn);
  z-index: 1;
}

.slangcard .front,
.slangcard .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
    z-index: 1;
}

.title {
  transform: translateZ(5rem);
  font-size: 2rem;
}

.subtitle {
  transform: translateZ(5rem);
}

.slangcard .back {
  transform: rotateY(0.5turn);
   z-index: 1;
}

.description {
  transform: translateZ(3rem);
}

