.main-checkBox {
  width: 32rem;
  margin-top: -35rem;
  margin-left: 52rem;
  background-color: rgb(158, 195, 227);
}

.checkBoxDiv {
  display: inline-block;
}

.checkBoxSection {
  margin-left: 1rem;
  margin-top: 1rem;
}

.mainBankPage {
  width: 90rem;
  display: inline-block;
  margin-top: 8rem;
}

.bankCardLatout {
  width: 30rem;
  margin-left: 10rem;
}

.vl {
    border-left: 6px solid rgb(37, 157, 204);
    height: 45rem;
    position: absolute;
    left: 50%;
    margin-left: -10rem;
    margin-top: -35rem;
    border-radius: 15rem;
  }