.main-checkBox {
  width: 32rem;
  margin-top: 5rem;
  margin-left: 35rem;
  margin-bottom: 5rem;
  /* background-color: rgb(158, 195, 227); */
}

.checkBoxDiv {
  display: inline-block;
}

.checkBoxSection {
  margin-left: 1rem;
  margin-top: 1rem;
}

.mainBankPage {
  /* display: inline-block; */
  margin-top: 8rem;
  margin-left: 10rem;
}

.bankCardLayout {
  width: 100rem;
  margin-left: -8rem;
  margin-top: -15rem;
  display: inline-block;
}

.vl {
    border-left: 6px solid rgb(37, 157, 204);
    height: 45rem;
    position: absolute;
    left: 50%;
    margin-left: 0rem;
    margin-top: -45rem;
    border-radius: 15rem;
  }

.chartLayout {
  margin-bottom: 8rem;
  margin-top: -10;
  margin-left: -5rem;
}

.bankDescSection {
  margin-top: 2rem;
  margin-bottom: 10rem;

}

.bankDescLayout{
  width: 40rem;
  /* display: inline-block; */
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.type-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkListBg {
  margin-left: -10rem;
  background-color: #fefbe2;
}

.slideLayout {
  margin-left: 5rem;
  margin-top: 5rem;
  width: 100%;
}

.slide-container{
  height: 50rem;
  width: 60rem;
}


.web-button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  margin-left: 27rem;
  margin-top: -50rem;
  top: -8rem;
 }
 
 .web-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .web-button:hover {
  color: #e8e8e8;
 }
 
 .web-button:hover::before {
  width: 100%;
 }