.slangPage {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -900px;
}

.CardView {
    width: 380px;
    height: 500px;
    border:  1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;
}

.start_btn {
    width: 180px;
    background-color: #4c5d87;
}

.start_btn:hover {
    transition: all 0.3s ease-in-out;
    background: rgb(111, 113, 173);
}

.quizPos {
    margin-left: 25rem;
    margin-bottom: 3rem;
}

.slangIntro {
    width: 70%;
    padding: 1rem;
    display: flex;
    align-content: center;
    margin-left: 25rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.slangBackgroud {
    width: 40rem;
    align-content: center;
    margin-left: 58px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.slangTotal {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    margin-left: 40%;
}
.aussieP {
    padding: 1rem;
    margin-bottom: 1rem;
}

.aussieH {
    padding: 1rem;
}

.learnSlang {
    width: 70%;
    margin-left: 12%;
    margin-top: 4rem;
}
