.slangPage {
    margin-left: 0rem;
}

.quizPos {
    margin-left: 25rem;
    margin-bottom: 3rem;
}

.slangIntro {
    width: 34rem;
    display: flex;
    align-content: center;
    margin-left: 25rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: #f3f3f3;
}