.headContent {
    display: block;
    align-content: center;
    width: 35%;
    margin-left: 30%;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-top: 5rem;
    padding: 1rem;
}



.writingTitleDIv{
    align-items: center;
    margin-top: 5rem;
    width: 35%;
    margin-left: 30%;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 1rem;
}

.inputDiv {
    margin-top: 0;
    display: block;
    align-content: center;
    width: 35%;
    margin-left: 30%;
    margin-bottom: 10rem;
}