@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display:block;
  margin-top: -55%;
  margin-left: 25%;
  height: 95px;
  width: 700px;
  position: absolute;
  color: aliceblue;
}

.homebg {
  width: 100%;
  height: 32rem;
  object-fit: cover;
}

.headerBg {
  width: 100%;
  height: 220px;
  opacity: .9;
  text-align: center;
  background-color: #EC7F6A;
  font-family: 'Montserrat';
  font-weight: 850;
  margin-top: -20px;
  color: rgb(248, 253, 255);
  line-height: 300px;
  font-size: 60px;
}

.logo {
  width: 150px;
  margin-left: -100px;
  object-fit: cover;
}

#home-content1 {
  font-size: 66px;
  font-family: 'Montserrat';
  margin-top: -58px;
  margin-left: -5%;
  color: #FFFDEB;
  height: fit-content;
  background: transparent;
  font-weight: 600;
}

#home-content2 {
  font-size: 80px;
  font-family: 'Montserrat';
  margin-top: -1px;
  margin-left: -100px;
  color: #FFFDEB;
  height: fit-content;
  background: transparent;
  width: 880px;
}

/* Add a border and shadow to the rounded rectangle */
.mapboxgl-popup-content {
  border: 1px solid #e0d7d7;
  box-shadow: 0px 2px 4px 2px rgba(178, 148, 148, 0.617);
  max-width: 800px;
  max-height: 200px;
  overflow: scroll;
  height: fit-content;
}

/* Move the content above the :before element so rotated rectangle doesn't cover content */
.mapboxgl-popup-content div {
  position: relative;
  background-color: rgba(245, 250, 232, 0.892);
}

/* Since the new tip is absolutely-positioned, it doesn't force the rectangle up on its own */
.mapboxgl-popup {
  margin-top: -5px;
}

/* Hide the old tip */
.mapboxgl-popup-tip {
  display: none;
}


.homepageDivider {
  background-color: #EC7F6A;
  height: 56vh;
  width: 100%;
  align-self: center;
  margin-top: -6rem;
}

.homepageDivider2 {
  background-color: #FFF4E2;
  height: 25rem;
  width: 100%;
  align-self: center;
  margin-top: -1rem;
}

.homepageDivider3 {
  background-color: #F0BA98;
  height: 25rem;
  width: 100%;
  align-self: center;
  margin-top: -1rem;
}


.IconDivider {
  display: flex;
  margin-top: -15%;
  margin-left: 15%;
  align-content: center;
}

.SingleIcon {
  margin-top: 7%;
  margin-right: 7%;
  margin-left: -2%;
  width: 30rem;
}


.IconP{
  color: #000;
  margin-left: 1rem;
  width: 20rem;
}

.IconP1{
  color: #000;
  margin-left: 4rem;
}

.aboutSection {
  width: 50rem;
  margin-left: 15%;
}

.aboutP{
  width: 40rem;
  text-align:center;
  font-size: 21px;
  color: #000;
}

.aboutH{
  width: 40rem;
  text-align:center;
  color: #000;
}

.lifeBg{
  background-image: url("./images/life.jpg");
}

.titlePos{
  margin-left: 40%;
   margin-top: 6%;
}


