@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display: flex;
  height: 92vh;
  background-image: url('./images/home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-content {
  font-size: 100px;
  font-family: 'Patrick Hand SC', cursive;
  margin-top: 10%;
  color: #fff;
}

.mapboxgl-popup-content {
  color: #000000;
  background-color: #91785D;
  border-color: #91785D;
  width: 600px;
  height: fit-content;
  box-shadow: 3px 3px 2px #8B5D33;
  font-family: 'Oswald';
}

