@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display:block;
  margin-top: -55%;
  margin-left: 450px;
  height: 95px;
  width: 700px;
  position: absolute;
  color: aliceblue;
}

.homebg {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.headerBg {
  width: 100%;
  height: 220px;
  opacity: .8;
  text-align: center;
  background-color: #EC7F6A;
  font-family: 'Montserrat';
  font-weight: 850;
  margin-top: -20px;
  color: rgb(248, 253, 255);
  line-height: 300px;
  font-size: 60px;
}

.logo {
  width: 150px;
  margin-left: -100px;
  object-fit: cover;
}

#home-content1 {
  font-size: 80px;
  font-family: 'Montserrat';
  margin-top: -58px;
  margin-left: -160px;
  color: #FFFDEB;
  height: fit-content;
  background: transparent;
}

#home-content2 {
  font-size: 80px;
  font-family: 'Montserrat';
  margin-top: -1px;
  margin-left: -100px;
  color: #FFFDEB;
  height: fit-content;
  background: transparent;
  width: 880px;
}


.mapboxgl-popup-content {
  color: #000000;
  background-color: #91785D;
  border-color: #91785D;
  width: 600px;
  height: fit-content;
  box-shadow: 3px 3px 2px #8B5D33;
  font-family: 'Oswald';
}


.homepageDivider {
  background-color: #EC7F6A;
  height: 25rem;
  width: 100%;
  align-self: center;
  margin-top: -7rem;
}

.homepageDivider2 {
  background-color: #FFF4E2;
  height: 25rem;
  width: 100%;
  align-self: center;
  margin-top: -1rem;
}

.homepageDivider3 {
  background-color: #F0BA98;
  height: 25rem;
  width: 100%;
  align-self: center;
  margin-top: -1rem;
}


.IconDivider {
  display: flex;
  margin-top: -22rem;
  margin-left: -22rem;
  align-content: center;
}

.SingleIcon {
  margin-top: 25rem;
  margin-right: 10rem;
  width: 30rem;
}


.IconP{
  color: #000;
  margin-left: 1rem;
  width: 20rem;
}

.IconP1{
  color: #000;
  margin-left: 4rem;
}

.aboutSection {
  width: 50rem;
  margin-top: 8rem;
  margin-left: -5rem;
}

.aboutP{
  width: 40rem;
  text-align:center;
  font-size: 21px;
  color: #000;
}

.aboutH{
  width: 40rem;
  text-align:center;
  color: #000;
}

.lifeBg{
  background-image: url("./images/life.jpg");
}

.titlePos{
  margin-left: 32rem;
  margin-top: -4rem;
}


