.menuplanMain {
    margin-top: -280px;
    margin-left: 25%;
    width: 320px;
}

.ErrorMsg {
    margin-left: 40%;
    color: rgb(200, 0, 0);
    position: absolute;
}

.WeeklyMeal,
.DailyMeal {
    margin: 150px auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
}

.CardView1 .recipeRedir{
    text-decoration: none;
    background-color: #4d4681;
    color: #f3f3f3;
    width: fit-content;
    padding: 0.5rem 1rem;
  }
  
  .CardView1 .recipeRedir:hover {
    background-color: #441eca;
    cursor: pointer;
  }